<!DOCTYPE html>
<html>
  <head>
    <title>Neutral</title>
    <script src="neutron.bundle.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

        body {

           
            padding: 2%;
            font-family: 'Roboto', sans-serif;
            color: white;
            background: rgb(58, 56, 56);
        }

        div {

            background-color: rgb(32, 32, 32);
            border-radius: 1vw;
            padding: 2%;
        }

        button {
            color: red;
            background-color: transparent;
            border-radius: 1vw;
            border-color: red;
            border-style: solid;
            padding: 10px;
            transition: all 0.2s ease 0s;
        }

        button:hover {

            color: white;
            background-color: red;
            cursor: pointer;
        }
    </style>
  </head>
  <body>
    <div>
        <h1>Erreur</h1>
        <h2><%= message %> - <%= error.status %></h1>
        <pre><%= error.stack %></pre>

    </div>
    <br>
   <a href="/"><button>Retourner sur le site</button></a>
  </body>
</html>

