<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="header">
      <div class="header_picture">
        <img src="images/avatar.png" class="image">
        <h1 class="maintitle">Raphix</h1>
      </div>
      <div class="header_icons">
        <a target="_blank" href="https://instagram.com/raphixscrap"><button><i class="fa-brands fa-instagram"></i></button></a>
        <a target="_blank" href="https://x.com/raphixscrap"><button><svg class="header_xicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path fill='currentColor' d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg></button></a>
        <a target="_blank" onclick="alert('@raphixscrap')"><button><i class="fa-brands fa-discord"></i></button></a>
      </div>
    </div>
    <div class="content">
      <div class="myself">
        <%- myself %>
      </div>
      <div class="projects">
        <%- projets %>
      </div>
    </div>
    <script defer="" src="https://use.fontawesome.com/releases/v6.4.2/js/all.js" crossorigin="anonymous"></script>
  </body>
</html>
