@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

body {
  background: linear-gradient(225deg, #a9749b, #212f74 140%);
  backdrop-filter: blur(80%);
  color: white !important;
  font-family: 'Mulish', sans-serif;


}

html {

  min-height: 100%;
  margin: 0;


}

@media (max-width: 800px) { 
  
 
.header {
  display: flex;
  flex-direction: column;
  padding: 1vw;
}

.header_picture {

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
}


.header_icons {

  display: flex;
  align-items: center;
  gap: 4%;
  width: 100%;
  justify-content: center;

} 




.image {

  width: 5rem;
  height: 5rem;
  border-radius: 100%;
 
}

.content {
  margin-top: 1vw;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;

}

.myself {

  width: 50%;
  padding: 5vw;
  margin: 1vw;
}

.projects {
  width: 50%;
  padding: 5vw;
  margin: 1vw;
}

.my-games {

  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 50px;

}

.game-picture {


  object-fit: cover;
}
  

} 

@media (min-width: 800px) { 
  
  .header {
    display: flex;
    justify-content: space-between;
    padding: 1vw;
  }

  .image {

    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    margin-right: 2rem;
  
  }

  .header_picture {

    display: flex;
    align-items: center;

    justify-content: center;
    
  }


  .header_icons {

    display: flex;
    align-items: center;
    gap: 4%;
    width: 15%;
    justify-content: right;
    

  } 


  .content {
    margin-top: 1vw;
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 100%;

  }

  .myself {

    width: 50%;
    padding: 5vw;
    margin: 1vw;
  }

  .projects {
    width: 50%;
    padding: 5vw;
    margin: 1vw;
  }

  .my-games {

    display: flex;
    width: 100%;
    gap: 20px;
  
  }

  .game-picture {

    width: 20vw;
    height: 20vw;
    object-fit: cover;
  }

  
}


.header_icons button {

  background: transparent;
  border: none;
  font-size: 2rem;
  color: white;
  transition: 0.1s;
  cursor: pointer;

}

.header_icons button:hover {

    color:  #1fefec;
}

.header_xicon button:hover {

    fill:  #1fefec;
}

.header_xicon {

  display: flex;
  align-items: center;
  width: 2rem;


} 

.fa-instagram {

  width: 2rem !important;
}



.footer {

  height: 15%;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.203);
  padding: 2vw;
  bottom: 0;
  text-align: center;
}

h1 {

  font-size: 2rem !important;
}

.linkbox a {

  color: white;
  text-decoration: none;
  padding: 1vw;


}

.linkbox:hover a {

    color: black;
    
}

.linkbox:hover img {

  filter: invert(100%);

}

.linkbox {

  padding: 1vw;
  transition: all 0.2s ease 0s; 
  align-items: center;

}

.linkbox:hover {

  color: black !important;
  background-color: white;

}

.maintitle {

  font-size: 2rem;
}

::-webkit-scrollbar {
  width: 10px;
  margin-right: 20px;
  background-color: #a06f98;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #584b84;

  border-radius: 10px;
}


.myselfImage {


  height: 10rem;
  border-radius: 10px;
}



.game {
  display: flex;
  flex-direction: column;
}

.game p {
  margin: 0 !important;
  background-color: #212f74;
  padding: 2%;
}
.projet-image {

  width: 10vw;
}

.exBox {

  margin-bottom: 2vw;
  background-color: #584b844a;
  padding: 1vw;
  border-radius: 10px ;
}